<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:ns="http://www.scene7.com/IpsApi/xsd/2014-04-03">
   <soap:Header>
      <ns:authHeader>
         <ns:user>#{uid}</ns:user>
         <ns:password>#{pwd}</ns:password>
         <ns:appName>#{appName}</ns:appName>
         <ns:appVersion>#{appVersion}</ns:appVersion>
      </ns:authHeader>
   </soap:Header>
   <soap:Body>
      <ns:getCompanyInfoParam>
         <ns:companyName>#{companyName}</ns:companyName>
      </ns:getCompanyInfoParam>
   </soap:Body>
</soap:Envelope>